<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Quiz</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
    <%- include('partials/header') %>
    <div>
      <!-- DISPLAY QUIZ QUESTION WITH ANSWERS -->
      <% let counter = 0 %>
      <% for (let question of questions) { %>

        <div class="container">
          <label> <%= question.question %></label>
        </div>
<!-- <%=counter++%> -->

<!-- <p><%=questions.question_id%></p>> -->
<form method="POST" action="/quizzes/<%=quiz_id%>" id="quiz_submit">

        <% for(let answer of question.answers) { %>

          <div class="container">
          <input type="radio" name= "answer<%=counter%>" value= '<%= answer %>'>
           <input  value= '<%= answer %>'>
          </div>

        <% } %>
      <% } %>

      <p id="quiz_id"><%=quiz_id%></p>
    </div>

    <div>
      <!-- BUTTON TO SUBMIT QUIZ (REDIRECT TO RESULTS PAGE)-->

      <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>

  </body>
